body{
    text-align: center;
    font-family: cursive;
    background:#C4ABD4;
    color: beige;
    font-weight: bold;
}
h4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#8C51BD;
    font-weight: bold;
}
.frames {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.frame {
  position: relative;
  width: 260px;
  height: 180px;
  border: 5px solid #E3D2BA;
  border-radius: 12px;
  background: #C4ABD4;
  overflow: hidden;
}

video, canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  display: none;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #FFF3C4;
}