body{
    text-align: center;
    font-family: cursive;
    background:#C4ABD4;
    color: beige;
    font-weight: bold;
}
h4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:#8C51BD;
    font-weight: bold;
}
video, canvas{
    width: 480px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #FFF3C4;
}