body {
  text-align: center;
  font-family: cursive;
  background: #c4abd4;
  color: beige;
  font-weight: bold;
}

h4 {
  font-family: "Courier New", Courier, monospace;
  color: #8c51bd;
}

.frames {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.frame {
  position: relative;
  width: 260px;
  height: 180px;
  border: 5px solid #e3d2ba;
  border-radius: 15px;
  background: #c4abd4;
  overflow: hidden;
}
#video,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #fff3c4;
  border-radius: 10px;
  border: none;
  margin: 5px;
}

#countdown {
  font-size: 60px;
  font-weight: bold;
  color: #fff3c4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
